* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  margin: auto;
  text-align: center;
}

.title {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 100px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  margin: 30px 0px;
}

.quote-box h4 {
  margin: 10px 0px;
}

.new-quote-btn {
  width: 200px;
  height: 35px;
  background: rgb(241, 151, 51);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.new-quote-btn:hover {
  background-color: #e85308;
}

.quote-author {
  font-weight: bolder;
  margin-top: 20px;
  font-style: oblique;
}
